@using LaptopStore.Models;
@using LaptopStore.ViewModels;
@model ProductAndModelsVM

<h1 style="text-align:center;">Product's Models</h1>
<ul class="mainUl">
    @foreach (var item in Model.ProductModels)
    {
        <li style="transition:.3s;">
            @item.ProductModel
        </li>
    }
</ul>

<ul class="laptops">
    @foreach (var item in Model.Products)
    {
        <li>
            <div class="baseProduct">
                <a href="http://127.0.0.1:5500/Fabulous/Product.html">
                    <div class="image">
                        <img src="@item.ImgSrc">
                    </div>
                </a>
                <div class="info">
                    <h4>Product name: <span style="color:red;">@item.Name</span></h4>
                    <p><b>ID: <span style="color:red;"> @item.Id</span></b></p>
                    <p><b>Price: <span style="color:red;">@item.Price$</span></b></p>
                </div>

            </div>
        </li>
    }
</ul>